<!DOCTYPE html>
<html>
  <head>
    <title>SongClub</title>
    <script data-main='js/main' src="js/vendor/require.min.js"></script>
    <script src="js/fake_data/artists_json.js"></script>
  </head>

  <body>
    <div class='files_list'></div>

    <div id='artists_list_container'></div>
  </body>

  <script type='text/html' id='file_template'>
    <%= file.get('path') %>
  </script>

  <script type='text/html' id='files_list_template'>
    <ul>
      <% files.each(function(file) { %>
        <li>
          <%= file.get('path') %>
        </li>
      <% }) %>
    </ul>
  </script>

  <script type='text/html' id='artists_list_template'>
    <ul class='artists'>
      <% _.each(artists, function(artist) { %>
        <li class='artist'>
          <span class='name'> 
            <%= artist.name %> 
          </span>

          <ul class='terms'> 
            <% _.each(artist.terms, function(term) { %>
              <li class='term'> <%= term.name %> </li>
            <% }) %>
          </ul> <!-- ul.terms -->
        </li> <!-- li.artist -->
      <% }) %>
    </ul> <!-- ul.artists -->
  </script>
</html>
